body{
background: rgba(0, 255, 255, 0.47)
  
}
  

.accordion-item .accordion-header .accordion-button {
  background-color: rgba(127, 244, 255, 0.763);
  color: black;
}

.accordion-item .accordion-body {
  background: rgb(2, 242, 227);
  background: linear-gradient(
    0deg,
    rgba(2, 242, 227, 1) 86%,
    rgba(2, 233, 242, 0.8939950980392157) 100%
  );
}

/* אקורדיון שסגור */
/* שיש נקודה זה הפוך להיות צמוד */
.accordion-item .accordion-header .accordion-button.collapsed {
  background-color: rgba(47, 231, 255, 0.521);
  color: black;
}
.accordion-item .accordion-header .accordion-button.collapsed:hover {
  background: #00a6ff;
  color: black;
 
  transition: 1000ms;
}

:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

main {
min-height: 800px;
  background: rgb(119,121,9);
  background: linear-gradient(90deg, rgba(119,121,9,0) 0%, rgba(0,211,255,1) 21%, rgba(9,121,116,0) 100%);
}
main h1 span {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  -webkit-box-shadow: 11px -9px 10px 0px #0000ff, 16px -14px 10px 0px #00ffd9,
    20px -17px 10px 0px #00d5ff, 6px 8px 15px 4px rgba(0, 0, 0, 0);
  box-shadow: 11px -9px 10px 0px #0000ff, 16px -14px 10px 0px #00a6ff,
    20px -17px 10px 0px #00d9ff, 6px 8px 15px 4px rgba(0, 0, 0, 0);
}
main h1 span:hover {
  transform: scale(1.1);
  transition: 1000ms;
}

.fa-lightbulb-o {
  transition: 800ms;
}

.fa-lightbulb-o:hover {
  transform: rotate(90deg);
  transform: scale(1.1.5);
  color: black;
  transition: 800ms;
}